<%- include('../partials/header'); %>
 
<main class="main main-single container">
    <h2 class="main-h2 text-center"><%= name %></h2>
    <section class="section section-single d-flex justify-content-between row ">
 
    <!-- previous and next -->
 
    <div class="prev-and-next d-flex justify-content-around">
        <p class="prev">
            <% if(data.id > 1) { %>
                <a href="/wines/<%= data.id - 1 %> ">Previous</a>
          <% } %>
        </p>
        <p class="next">
            <% if(data.id +1 < count) { %>
                <a href="/wines/<%= data.id + 1 %> ">Next</a>
          <% } %>
        </p>
    </div>
    
    </section>
    <section class="row justify-content-center"> 
        <figure class="figure figure-single text-center d-block col-md-3">
            <img src="<%= data.image %>" alt="<%= data.wine %>" class="img-fluid single-image">
            <figcaption class="figcaption"><%= data.wine %></figcaption>
            <figcaption class="figcaption">Winery:  <%= data.winery %></figcaption>
            <figcaption class="figcaption location">Location:  <%= data.location %></figcaption>
            <figcaption class="figcaption rating">Reviews:  <%= data.rating.reviews %>   Rating:  <%= data.rating.average %></figcaption>
        </figure>
        <!-- <aside class="aside col-md-3">
            <h3 class="single-h3"><%= data.wine %></h3>
            <h3 class="single-h3">Winery:  <%= data.winery %></h3>
            <h4 class="single-h4 location">Location:  <%= data.location %></h4>
            <h4 class="single-h4 rating">Reviews:  <%= data.rating.reviews %>   Rating:  <%= data.rating.average %></h4>
        </aside> -->
    </section>
</main>
 
<%- include('../partials/footer'); %>
