<%-include ('../partials/header'); %>

<main class="main main-winess container">
    <h2 class="main-h2"><%= name %></h2>
    <section class="section section-wine">
        <div class="row">
        <!-- name, winery, location, reviews, rating, image -->
        <% data.forEach(item => { %>
            <div class="col-md-4">
                <figure class="figure wine-figure text-center d-block">
                    <a href="/wines/<%= item.id %>">
                        <img src="<%= item.image %>" alt="<%= item.wine %>" class="img-fluid">
                        <figcaption class="figcaption figcap-cartoon"><%= item.wine %></figcaption>
                    </a>
                    <figcaption class="figcaption figcap-winery">
                        <a href="#"><%= item.winery %></a>
                    </figcaption>
                    <figcaption class="figcaption figcap-location">
                        <a href="#"><%= item.location %></a>
                    </figcaption>
                </figure>                  
            </div>
 
        <% }) %>
        </div>
    </section>
</main>
 
<%-include ('../partials/footer'); %>